* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
<<<<<<< HEAD
    background-color: #2874A6;
=======
    background-color: blue;
>>>>>>> 26f1b6b0d2dfd9b1ecd8b82c205e788e78dea84a
    color: white;
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
<<<<<<< HEAD
  }

  .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #935116 ; 
    box-shadow: 5px 10px #888888;
=======
>>>>>>> 26f1b6b0d2dfd9b1ecd8b82c205e788e78dea84a
  }